/* Base HTML Styles */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
   --brand: #55d6be;
   --action: #593959;
   --white: #ffffff;
   --base-light: #eef3fb;
   --base-dark: #162350;
   --black: #111111;
 }

  /* CSS Reset */
 
  html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Montserrat", serif;
    color: var(--black);
    scroll-behavior: smooth;
  }
 
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
 
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Fira sans", sans-serif;
  }
 
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
  }

 
  ol,
  ul {
    list-style: none;
  }
 
  img {
    max-width: 100%;
    height: auto;
  }
 
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
 /* Utilities */
 
 .display-none {
    display: none;
  }

/* Components */

/* Fonts */
h2 {
    color: var(--brand);
}

/* Horizontal line */
.hr {
    width: 100%;
    height: 10px;
    width: 100%;
    color: var(--brand);
    margin-top: 10px;

}

 /* btn-info */
 .btn-info {
    display: inline
    padding: 6px 6px;
    text-decoration: none;
    color: var(--white);
    border-radius: 4px;
    background-color: var(--action);
    transition: all 0.3s ease;
  }
  
  .btn-info:hover {
    box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
  }

/* header */
.header {
    height: 50px;
    margin-top: 50px;
   

} 

 /* .hero */
 .hero {
   background-color: var(--brand);
   padding: 56px 16px;
   border-radius: 10px;
   margin: 5px 10px;
 }
 
 .hero p {
   font-size: 2rem;
   margin-bottom: 24px;
   color: var(--white);
 }

/* in-page nav */
.box-nav {
    padding: 20px;
    text-align:center;
    min-height: 80px;
  }

.in-page-nav {
  display: flex;
  justify-content: space-evenly;
}
 /* h2 container */

.container-header {
    background-color: var(--base-dark);
    color: var(--brand);
    padding: 10px 20px 10px;
    margin-top: 40px;
  }
  
  /* h3 container */
  
  .container-subheading {
    background-color: var(--base-dark);
    color: var(--brand);
    padding: 1px 20px 1px;
  }
  
  /* projects */
  .container {
    background-color: var(--base-dark);
    color: var(--base-dark);
    padding: 1px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .box {
    background-color:var(--base-light);
    padding: 20px;
    text-align:center;
    min-height: 80px;
  }
  
  /* code box */
  .code-box {
  background-color: var(--brand); 
  color: var(--base-dark);
  width: 25%;
  gap: 20px;
  }
   
  /* The following styles will override the default styles (if they exist) on screens wider than 400px. */
  @media only screen and (min-width: 700px) {
    .container {
      /*   This flips the direction of the stacking from top-bottom to left-right   */
     flex-direction: row;
      /*  If the content is too wide to fit on the line, make it wrap to a new line.   */
      flex-wrap: wrap;
    }
    .box {
      /*   Here we are using the 'calc' function to work out the exact width of the boxes so that they fill the available space. We want them to be half the width of the container, but we also need to subtract the padding on both left and right (2 x 20px) and the gap divided by the number of containers (20px / 2) */
      width: calc(50% - (20px * 2) - (20px / 2));
      background-color: #eef3fb;
    }
  }
  
  /* .contact-form*/
.contact-container{
    background-color: var(--brand);
     color: var(--base-dark;}
   
   .contact-form {
     padding: 48px 16px;
     border-radius: 10px;
     margin: 5px 10px;
   }
   
   .contact-form input,
   .contact-form select {
     display: block;
     width: 100%;
     padding: 8px;
     margin-bottom: 16px;
   }
   
   .contact-form textarea {
     display: block;
     width: 100%;
     padding: 8px;
   }
   
   .contact-form label {
     display: block;
     width: 100%;
   }
   
   .contact-form h2 {
     color: var(--base-dark);
     margin-bottom: 16px;
   }
   
   .contact-form input[type="submit"] {
     background-color: var(--action);
     border: 0;
     margin-top: 8px;
     cursor: pointer;
   }
   
   
  